POSTGRES_HOST=127.0.0.1
POSTGRES_DB=meteovisor
POSTGRES_USER=meteovisor
POSTGRES_PASSWORD=meteovisor
POSTGRES_PORT=5432
FIRMS_MAP_KEY=
FIRMS_HISTORICAL_DEFAULT_DATE_FROM=2025-05-01
FIRMS_HISTORICAL_DEFAULT_DATE_TO=2025-08-31
BURNT_AREA_CATALOG_ROOT=data/copernicus/data_burnt_areas
# Opcional: alternativa al directorio extraído
BURNT_AREA_CATALOG_ZIP=
# Opcional: credenciales CDSE para descargar COG remotos durante la ingesta
CDSE_USERNAME=
CDSE_PASSWORD=
# Opcional: si ya tienes claves S3 temporales o persistentes
CDSE_S3_ACCESS_KEY=
CDSE_S3_SECRET_KEY=
CDSE_S3_ENDPOINT=eodata.dataspace.copernicus.eu
